.Vallie-container {
    display: flex;
    outline-width: 2px;
    outline-color: black;
    justify-content: space-between;
}

.Purpose-container {
    display: flex;
    flex-direction: column;
}

.Purpose-container h1 {
    border-collapse: collapse;
    font-family:"Space Grotesk", sans-serif;
    color:#2549D3;
    font-size: 24;
}

 .img1 {
    float: right;
    height: 550px !important;
    width: 750px;
}

.Homepageicon {
    font-family:"Oleo script", sans-serif;
    font-size: larger;
    font-style: italic;
    font-weight: bold;
    padding: 20px;
}

.Homebutton {
    padding:20px;
    color:blue;
}

.Startbutton {
    background-color:#2549D3;
    border-radius: 10px;
    height: fit-content;
    width: fit-content;
    border: 10px
    margin: 2px;
    padding: 8px;
}
.Rentbutton, .Landbutton, .Agentbutton, .Contacts {
    Padding: 20px;
}

.Learn-more {
    display: flex;
}

.Learn-more {
    background-color:#2549D3;
    border-radius: 10px;
    height: fit-content;
    width: fit-content;
    margin: 2px;
    padding: 10px
}

.Loc-price {
    display: flex;
    background-color: aliceblue;
    height: 50px;
    width: 1000px;
    justify-content: space-evenly;
    outline: 1px;
    outline-color: aliceblue;
    margin: auto;
    border: 1px rgb(153, 174, 177);
    padding: 100 px;
}

.Loc {
    color:#2549D3;
    align-content: center;
}

