.Vallie-container {
    display: flex;
    width: 50%
    outline-color: black;
    justify-content:center;
}

.Purpose-container {
    display: flex;
    flex-direction: column;
    width:100%;
    box-sizing: border-box;
}

.Purpose-container h1 {
    font-family:"Space Grotesk", sans-serif;
    color:#2549D3;
    font-size: 28pt;
}
.Purpose-container p {
    font-family: "Space Grotesk", sans-serif;
    font-size: 18pt;
}

.img1 {
    position: absolute;
    height: 350px;
    width: 600px;
    margin-left: 5in;
    margin-right: 20px;
    margin-bottom: 4in;
    border-bottom: 4in;
    padding-bottom: 4in;
}

.Homepageicon {
    font-family:"Oleo script", sans-serif;
    font-size: larger;
    font-style: italic;
    font-weight: bold;
    padding: 20px;
}

.Homebutton {
    padding:20px;
    color:blue;
}

.Startbutton {
    background-color:#2549D3;
    border-radius: 10px;
    height: fit-content;
    width: fit-content;
    border-top: 10px;
    margin: 2px;
    padding: 8px;
}
.Rentbutton, .Landbutton, .Agentbutton, .Contacts {
    Padding: 20px;
}

.Learn-more {
    display: flex;
}

.Learn-more h14 {
    background-color:#2549D3;
    border-radius: 10px;
    border-right: 10px;
    height: fit-content;
    width: fit-content;
    margin: 2px;
    padding: 10px
}

.Location, .Property-type, .Price, .Search-button {
    color: #2549D3;
}

.Loc-price {
    display: flex;
    font-weight: 700;
    background-color: aliceblue;
    height: 50px;
    justify-content: space-evenly;
    margin-bottom: 10px;
    border-top: 2in;
    padding-top: 20px;
}

.Lekki {
    position:absolute;
    color:grey;
    margin-top: 20px;
    padding-right: 15in;  
}

.Duplex {
    position: absolute;
    color:grey;
    margin-top: 20px;
    padding-right: 5.3in;
}

.Price-fig {
    position: absolute;
    color: grey;
    margin-top: 20px;
    margin-left: 5in;
}

.Search-button {
    background-color:#2549D3;
    border-bottom: 1in;
    border-radius: 10px;
    height:30;
    width:60px;
    padding: 10px
}
.Loc {
    color:#2549D3;
    align-content: center;
}

.how_it_works h3 {
    font-family:"Space Grotesk", sans-serif;
    font-weight: bolder;
    color: #2549D3;
    font-size: 30;
    margin-top: 0.5in;
    padding: 10px;
    border-right: 10px;
}

.how_it_works h4 {
    position: absolute;
    font-family:"Space Grotesk", sans-serif;
    font-weight: bolder;
    color: #2549D3;
    font-size: 35;
    margin-left: 8in;
    margin-bottom: 8in;
    padding-bottom: 8in;
    border-right: 10px;  
}

.how_it_works p {
    position: absolute;
    color: grey;
    margin-top: 40px;
    margin-left: 7.5in;
}

.Logistics {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.Logistics h5, h6, h7 {
    font-family:"Oleo script", sans-serif;
    color: rgb(49, 45, 45);
    font-size: 35px;
    font-weight: bold;
    padding: 5px;  
}

.imgloc {
    position:absolute;
    height: 120px;
    width: 70px;
    margin: 5px;
    padding: 20px;
    border-left: 20px;
}

.imgsecure {
    position:absolute
    height: 120px;
    width: 70px;
    margin: 5px;
    padding: 20px;
    border-left: 20px;
}

.imgsmarthouse { position:absolute
    height: 120px;
    width: 70px;
    margin: 5px;
    padding: 20px;
    border-left: 20px;
}

.padlock {
    position:absolute
    height: 120px;
    width: 70px;
    margin: 5px;
    padding: 20px;
    border-left: 20px;
}


